{% extends 'base.html.twig' %}

{% block stylesheets %}
<!-- shopping cart style sheet -->
<link rel="stylesheet" href="{{ asset('css/cart/cart.css') }}">
<script src="{{ asset('js/cart/add_cart.js') }}"></script>
{% endblock %}

{% block pagetitle %}
  <h1><span class="category">Shopping Cart </span>&#47; Add</h1>
{% endblock %}

{% block body %}
<form action="{{ path('add_cart', {'product_id': product.id}) }}" method="post" >
    <div class="container content">
        <div class="row">
            <div class="col-sm-6">
                <!-- This is the left column, which takes up the size of 4 Bootstrap columns -->

                <p>
                    <img class="img-responsive" src="{{ asset('upload/img/' ~ product.image) }}" width="650"  alt="missing image"></a>
                </p>

                <p>
                    
                </p>
            </div>
            
            <!-- This is the middle column, which takes up the size of 4 Bootstrap columns -->
            <div class="col-sm-6">
                 <div class="cart-product-title">{{ product.title }}</div>
                 <div class="cart-product-description">{{ product.description }}</div>
                 <div class="cart-product-price">USD ${{ (product.price)|number_format(2,'.',',') }}</div>
                 
                 <p>
                 	<div class="cart-product-description">Category : {{ category.title }}</div>
                 </p>
                 <div class="cart-product-detail-std-1">{{ include('std_1.html.twig') }}</div>
                 
                 <p>
                 	<div class="cart-product-description">SKU : {{ product.sku }}</div>
                 </p>
                 
                 <div class="cart-qty-text">Select Quantity</div> 
                 <div class="row">
                 	<div class="col-sm-4">
                 		<input class="form-control text-center" type="number" min="0" max="10" name="qty" value="1"/>
                 	</div>
                 </div>

                 <div class="cart-qty-text">Select Size (Please refer size guide):</div> 
                          
                 <div class="row">
                 	<div class="col-sm-4">
               	      <select id="cmb_size" class="form-control" name="size">
                		<option value="-1">Select Size</option>
                		{% for product_size in product.ProductSize %}
                		  <option value={{ product_size.qty }} id={{ product_size.id }}>{{product_size.size}}</option>
                		{% endfor %}
                	  </select>
                	</div>
                	
                	<div class="col-sm-6">
                		{{ include('size_std_1.html.twig') }}
                	</div>
                 </div>                  
                	
                  <div class="order-type" id="order-type"></div>
                  <div class="order-duration" id="order-duration"></div>
                  <div class="order-shippment" id="order-shippment"></div>  
                
                  <p>
                  	<div id="add-error"></div>
                  </p>
                		
                <div class="row">
                	<div class="col-sm-6">
                		<button type="submit" class="btn btn-warning btn-xlg">Add to cart</button>
                	</div>
                </div>	
                          	
            </div>           
            
        </div>
    </div>
</form>

<!-- Main content ends here, footer below -->
{% block javascripts %}
<script>

</script>
{% endblock %}


{% endblock %}

