{% extends 'base.html.twig' %}

{% block stylesheets %}
<!-- shopping cart style sheet -->
<link rel="stylesheet" href="{{ asset('css/cart/cart.css') }}">
{% endblock %}

{% block pagetitle %}
  <h1><span class="category">Shopping Cart</h1>
{% endblock %}

{% block body %}

	<form action="{{ path('update_cart') }}" method="post" >
    
        <div class="row">
            <div class="col-sm-12">
                <!-- This is the single column, which takes up the size of 12 Bootstrap columns -->
                <table class="table">
                	<thead>
                      <tr>
                      	<th>PRODUCT</th>
                		<th>DESCRIPTION</th>
                		<th>QUANTITY</th>
                	  </tr>
                	</thead>
                	<tbody>
                		{% for item in items %}
                		<tr>
                			<td><img class="card-img-top" src="{{ asset('upload/img/' ~ item.product.image) }}" width="50" alt="missing image"></a></td>
                			<td>{{ item.product.title }},size {{ item.size }}, {{ item.unitprice|number_format(2,'.',',') }} $ x QTY {{ item.qty }} = USD {{ (item.qty * item.unitPrice)|number_format(2,'.',',') }} $</td>
                			<td><input class="text-center" type="number" min="0" max="10" name="item[{{ item.id }}]" value="{{ item.qty }}"/></td>
                		</tr>
                		{% endfor%}
                	</tbody>
                </table>
            </div>
        </div>
        
        <div class="row">
         <!-- cart total well -->
         <div class="col-sm-12">
         <div class="text-right">
             <h4>Order Total: USD {{ total|number_format(2,'.',',') }} $ </hr>
         </div>
         </div>	
        </div>
        
        <div class="row">
        <div class="col-sm-12">      
         <div class="row text-right">
         	<button type="submit" class="btn btn-default btn-xlg">Update Cart</button>
             <div class="btn-group">
                 <a href="{{ path('billingshipping_new') }}" class="btn btn-warning btn-xlg"><i class="glyphicon"></i>Checkout</a>
             </div>            
         </div> 
        </div>
        </div>
             
    </form> 


<!-- Main content ends here, footer below -->
{% endblock %}
