{% extends 'base.html.twig' %}

{% block body %}
<div>Jesus my way </div>

{% block javascript %}
<script type="text/javascript">
	
	$(document).ready(function()
	 {
		alert('ok');
		$.ajax({
			type:'POST',
			url: '{{ path('go') }}',
			data: {"par_1":"Jesus is love"},
			success: function(data)
			{
				alert(data);
			}
		});
	 }
	);
	
	alert('hallelujah');
	
</script>
{% endblock %}

{% endblock %}
