{% extends 'base.html.twig' %}
{% block pagetitle %}
  <h1><span class="category">Category </span>&#47; list</h1>
{% endblock %}
{% block body %}


   	      
      <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Urlkey</th>
                <th>Description</th>
                <th>Image</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td><a href="{{ path('category_show', { 'id': category.id }) }}">{{ category.id }}</a></td>
                <td>{{ category.title }}</td>
                <td>{{ category.urlKey }}</td>
                <td>{{ category.description }}</td>
                <td>{{ category.image }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('category_show', { 'id': category.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('category_edit_data', { 'id': category.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
      </table>


    <div class="row">
    	<div class="col-sm-6 form-group"> 	               		
    		<div class="btn-group">
                <a href="{{ path('category_new') }}" class="btn btn-grove-one btn-xlg"><i class="glyphicon"></i>Create a new category</a>            			
    	    </div>
    	</div>	
    </div>	         
    
{% endblock %}
