{% extends 'base.html.twig' %}

{% block pagetitle %}
  <h1><span class="category">Category </span>&#47; Add</h1>
{% endblock %}

{% block body %}
{{ form_start(form) }}

            <div class="row">
                <div class="col-sm-6 form-group">
        	        {{ form_errors(form.title) }}
        	        {{ form_row(form.title , {
        	        	'label' : 'Description',
        	        	'attr':{
        	        		'class': 'form-control input-lg',
        	        	}
        	        })}}
                </div> 
                <div class="col-sm-6 form-group">
         	        
        	        {{ form_errors(form.urlKey) }}
        	        {{ form_row(form.urlKey, {
        	        	'label': 'Url Key',
        	        	'attr': {
        	        		'class': 'form-control input-lg',
        	        	}
        	        }) }}
                </div>                   
            </div> 
                 
            <div class="row">
                <div class="col-sm-12 form-group">
                    
        	        {{ form_errors(form.description) }}
        	        {{ form_row(form.description , {
        	        	'label' : 'Description',
        	        	'attr':{
        	        		'class': 'form-control input-lg',
        	        	}
        	        })}}
                </div>
                
            </div>
            
            <div class="row">
               <div class="col-sm-6 form-group">
        	        
        	        {{ form_errors(form.image) }}
        	        {{ form_row(form.image , {
        	        	'label' : 'Category Image',
        	        	'attr':{
        	        		'class': 'form-control input-lg',
        	        	}
        	        })}}
                </div>            			
            </div>  
            <div class="row">
            	<div class="col-sm-6 form-group">
            		
            		<div class="btn-group">
            			<input type="submit" value="Create" class="btn btn-grove-one btn-xlg" />
            	    </div>  
            	               		
            		<div class="btn-group">
                        <a href="{{ path('category_index') }}" class="btn btn-grove-three btn-xlg"><i class="glyphicon"></i>Back to the list</a>            			
            	    </div>
            	</div>
            	
            </div>	                 

{{ form_end(form) }}
   
{% endblock %}
