{% extends 'base.html.twig' %}

{% block pagetitle %}
  <h1><span class="category">Category </h1>
{% endblock %}

{% block body %}
<h1>Category</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ category.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ category.title }}</td>
            </tr>
            <tr>
                <th>Urlkey</th>
                <td>{{ category.urlKey }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ category.description }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td><img class="card-img-top" src="{{ asset('upload/img/' ~ category.image) }}" alt="missing image"></a></td>
            </tr>
        </tbody>
    </table>   	
    <div class="row">
    	<div class="col-sm-6 form-group">
    		
    		<div class="btn-group">
    			<a href="{{ path('category_edit_data', { 'id': category.id }) }}" class="btn btn-grove-one btn-xlg">Edit</a>
    	    </div>  
    	               		
    		<div class="btn-group">
                <a href="{{ path('category_index') }}" class="btn btn-grove-three btn-xlg"><i class="glyphicon"></i>Back to the list</a>            			
    	    </div>
    	</div>
    	
        <div class="col-sm-6 form-group text-right">
          {{ form_start(delete_form) }}           		
               <div class="btn-group">
                  <input type="submit" value="Delete" class="btn btn-grove-three btn-xlg pull-right" />
               </div>
          {{ form_end(delete_form) }}	                	
        </div>   	
    	
    </div>	         

{% endblock %}
