{% extends 'base.html.twig' %}

{% block pagetitle %}
  <h1><span class="category">Checkout </span>&#47; Review Order</h1>
{% endblock %}

{% block stylesheets %}
<!-- shopping cart style sheet -->
<link rel="stylesheet" href="{{ asset('css/cart/cart.css') }}">
{% endblock %}

{% block body %}


        <div class="row side-shopping-cart">
            <div class="col-sm-12">
                <!-- This is the single column, which takes up the size of 12 Bootstrap columns -->
                
                <table class="table">
                	<thead>
                      <tr>
                      	<th>Product Image</th>
                		<th>Item</th>
                		<th>Unit Price</th>
                		<th>Qty</th>
                		<th>Subtotal</th>
                	  </tr>
                	</thead>
                	<tbody>
                		{% for item in items %}
                		<tr>
                			<td><img class="card-img-top" src="{{ asset('upload/img/' ~ item.product.image) }}" alt="missing image"></a></td>
                			<td>{{ item.product.title }}</td>
                			<td>{{ item.unitprice|number_format(2,'.',',') }}</td>
                			<td>{{ item.qty }}</td>
                			<td>{{ (item.qty * item.unitPrice)|number_format(2,'.',',') }}</td>
                		</tr>
                		{% endfor%}
                	</tbody>
                </table>
            </div>
        </div>
 
        <!-- cart total well -->
        <div class="text-right">
            <h4>Order Total: {{ total|number_format(2,'.',',') }} </hr>
        </div>
              
        <div class="row text-right">
            <div class="btn-group">
                <a href="{{ path('home') }}" class="btn btn-grove-two btn-xlg"><i class="glyphicon"></i>Cancel</a>
            </div>
            <div class="btn-group">
                <a href="{{ path('place_order') }}" class="btn btn-grove-one btn-xlg"><i class="glyphicon"></i>Place Order</a>
            </div>
        </div>      
<!-- Lord my God I believe your word -->

<!-- Main content ends here, footer below -->
{% endblock %}
