{% extends 'base.html.twig' %}

{% block stylesheets %}
{% endblock %}

{% block body %}
<div class="widewrapper">
    <div class="container content">
        <div class="row">
            <div class="col-sm-12">
            	<div class="alert alert-success">
                   <strong><h2>Thank You ! </h2></strong> your order {{ order_ref }} is successfuly placed.
                </div>
            </div>
        </div>
        <div class="row">
        	<div class="col-sm-12">
        		<div class="btn-group">
                   <a href="{{ path('home') }}" class="btn btn-grove-two btn-xlg"><i class="glyphicon glyphicon-shopping-cart"></i>Home</a>
                </div>
        	</div>
        </div>
    </div>
</div>        
{% endblock %}
