{% extends 'base.html.twig' %}

{% block pagetitle %}
  <h1><span class="category">Checkout </span>&#47; Payment</h1>
{% endblock %}


{% block stylesheets %}
<!-- shopping cart style sheet -->
<link rel="stylesheet" href="{{ asset('css/cart/cart.css') }}"> 
<script src="https://www.2checkout.com/checkout/api/2co.min.js"></script>
{% endblock %}


{% block body %}

{% if error is defined %} 
<div id="payment-error" class="payment-error text-center"> {{ error }} </div>
{% endif %}



<form id="myCCForm" action="{{ path('place_order') }}" method="post">
    <input id="token" name="token" type="hidden" value="">
    <div>
        <label>
            <span>Card Number</span>
        </label>
        <input id="ccNo" type="text" size="20" value="" autocomplete="off" required />
    </div>
    <div class="row">
    	<div class="col-sm-6">
        	<span>Expiration Month (MM)</span>
        </div>
        
        <div class="col-sm-6">
           <span>Expiration Year (YYYY)</span>
        </div>
    </div>
    
    <div class="row">
    	   
        <div class="col-sm-6">
        	<input type="text" size="2" id="expMonth" required />
        </div>
        
        <div class="col-sm-6">
          <input type="text" size="2" id="expYear" required />
        </div>
          
    </div>
    
    <div>
        <label>
            <span>CVC</span>
        </label>
        <input id="cvv" size="4" type="text" value="" autocomplete="off" required />
    </div>
    
<div class="row text-center">
    		<div class="col-sm-12">
    			<div>
    				<img class="card-img-top" id="spinner" src="{{ asset('img/lg.double-ring-spinner.gif') }}" width="30" alt="missing image"></a>
    		    </div>
    		</div>
</div>
    
    
    <div class="text-center">
       <input  class="btn btn-warning btn-xlg" type='submit' value='Pay USD ${{ total|number_format(2,'.',',') }}' />
    </div>
    
    <hr>
    
    <div class="text-center"><img class="card-img-top" src="{{ asset('img/cart/payment.jpg') }}" width="200" alt="missing image"> </div>  
     
 
</form>


{% endblock %}
{% block javascripts %}
<script>
$(document).ready(function()
{
    $("#spinner").hide();
    $("#payment-error").show();	
    		
    // Called when token created successfully.
    var successCallback = function(data) {
        var myForm = document.getElementById('myCCForm');

        // Set the token as the value for the token input
        myForm.token.value = data.response.token.token;

        // IMPORTANT: Here we call `submit()` on the form element directly instead of using jQuery to prevent and infinite token request loop.
        myForm.submit();
    };

    // Called when token creation fails.
    var errorCallback = function(data) {
        if (data.errorCode === 200) {
            tokenRequest();
        } else {
        	
            alert(data.errorMsg);
            $("#spinner").hide();
        }
    };

    var tokenRequest = function() {
        // Setup token request arguments
        var args = {
            sellerId: "901362471", 
            publishableKey: "C6470490-E437-4EB4-8A27-3F5BD36A81F3",
            ccNo: $("#ccNo").val(),
            cvv: $("#cvv").val(),
            expMonth: $("#expMonth").val(),
            expYear: $("#expYear").val()
        };

        //progress bar 
        $("#spinner").show();
        $("#payment-error").html();	
        	
        // Make the token request
        TCO.requestToken(successCallback, errorCallback, args);
    };

    $(function() {
        // Pull in the public encryption key for our environment
        TCO.loadPubKey('sandbox');

        $("#myCCForm").submit(function(e) {
            // Call our token request function
            tokenRequest();

            //progress bar 
            $("#payment-error").hide();		
            $("#spinner").show();
            
            
            // Prevent form from submitting
            return false;
        });
    });

    
});	
</script>
{% endblock %}     