{% extends 'base.html.twig' %}

{% block pagetitle %}
  <h1><span class="category">Checkout </span>&#47; Payment</h1>
{% endblock %}


{% block stylesheets %}
<!-- shopping cart style sheet -->
<link rel="stylesheet" href="{{ asset('css/cart/cart.css') }}">
 <script src="https://www.2checkout.com/static/checkout/javascript/direct.min.js"></script>
{% endblock %}


{% block body %}
<form id='2co-form' action='https://sandbox.2checkout.com/checkout/purchase' method='post'>
<input type='hidden' name='sid' value='{{ sid }}' />
<input type='hidden' name='mode' value='{{ mode }}' />
<input type='hidden' name='li_0_type' value='product' />
<input type='hidden' name='li_0_name' value='invoice123' />
<input type='hidden' name='li_0_price' value='{{ total }}' />
<input type='hidden' name='card_holder_name' value='Checkout Shopper' />
<input type='hidden' name='street_address' value='123 Test Address' />
<input type='hidden' name='street_address2' value='Suite 200' />
<input type='hidden' name='city' value='Columbus' />
<input type='hidden' name='state' value='OH' />
<input type='hidden' name='zip' value='43228' />
<input type='hidden' name='country' value='USA' />
<input type='hidden' name='email' value='example@2co.com' />
<input type='hidden' name='phone' value='614-921-2450' />

<div class="container">
	
	<div class="row text-center">
		<div class="col-sm-12">
			<div>
				<img class="card-img-top" id="spinner" src="{{ asset('img/lg.double-ring-spinner.gif') }}" width="50" alt="missing image"></a>
				<h3><div id="progress-info">Please wait ... </div></h3>
		    </div>
		</div>
	</div>
	
	<div class="row">  
	    <div class="col-sm-12"> 
 		
 		   <div class="row">
                <div class="col-sm-12 form-group">
                	<div style="padding: 35px; background-image: url({{ asset('img/cart/checkout-border.jpg') }}); background-color: #f8f8f8; background-repeat: no-repeat; background-position: left top;">
                	  <div><h3>YOUR ORDER </h3></div>
                	  
                      <table class="table">
                      	<thead>
                            <tr>
                            <th>PRODUCT IMAGE</th>
                      		<th>DESCRIPTION</th>
                      		<th>TOTAL</th>
                      	  </tr>
                      	</thead>
                      	<tbody>
                      		{% for item in items %}
                      		<tr>
                      			<td><img class="card-img-top" src="{{ asset('upload/img/' ~ item.product.image) }}" width="50" alt="missing image"></a></td>
                      			<td>{{ item.product.title }} X {{ item.qty }} <p>size:{{ item.size }}</p> </td>
                      			<td class="text-center">USD ${{ (item.qty * item.unitPrice)|number_format(2,'.',',') }}</td>
                      		</tr>
                      		{% endfor%}
                      	</tbody>
                      	<thead>
                            <tr>
                            <th><h2>SUBTOTAL</h2></th>
                      		<th></th>
                      		<th><div id="subtotal">USD ${{ total|number_format(2,'.',',') }}</div></th>
                      	  </tr>
                      	</thead>
                      	<tbody>
                      		<tr>
                      			<td><h2>SHIPPING</h2></td>
                      			<td></td>
                      			<td class="text-center"><div id="shipping-rate">Free shipping for Ethiopia </div></td>
                      		</tr>
                      	</tbody>
                      	<thead>
                            <tr>
                            <th><h2>TOTAL</h2></th>
                      		<th></th>
                      		<th><div id="grand_total">USD ${{ total|number_format(2,'.',',') }}</div></th>
                      	  </tr>
                      	</thead>                      	
                      </table> 
                      
                      <div class="text-center"><img class="card-img-top" src="{{ asset('img/cart/payment.jpg') }}" width="300" alt="missing image"> </div>   
                      
                      <hr>
                      <div class="text-center">
                       <input name='submit' id="submit-button" class="btn btn-warning btn-xlg" type='submit' value='Pay USD ${{ total|number_format(2,'.',',') }}' />
                      </div>            	  
                	</div>
                </div>
 		  </div>
		
	    </div> 
	</div>      
    
</div>
</form>


{% endblock %}
{% block javascripts %}
<script>
$(document).ready(function()
{
   $("#submit-button").hide();  //during loading beacuse the button automatically clicked on load 
   $('#submit-button').click();
   
   var checkoutClosed = function(data) {
        $("#spinner").hide();
        $("#progress-info").html('');
        $("#submit-button").show();
    };
  
   var checkoutLoaded = function(data) {
        
    };
        
    (function() {
         inline_2Checkout.subscribe('checkout_loaded', checkoutLoaded);
     }());
     
    (function() {
         inline_2Checkout.subscribe('checkout_closed', checkoutClosed);
     }());
    
	$('#submit-button').click(function()
	{
        $("#spinner").show();
        $("#progress-info").html('Please wait ...');
        $("#submit-button").hide();		
	});

    
});	
</script>
{% endblock %}     