{% extends 'base.html.twig' %}
 
 {% block pagetitle %}
  <h1><span class="category">Checkout </span>&#47; Payment Method </h1>
{% endblock %}

{% block stylesheets %}
<!-- Gateway style sheet -->
<link rel="stylesheet" href="{{ asset('css/gateway/gateway.css') }}">
<!-- shopping cart style sheet -->
<link rel="stylesheet" href="{{ asset('css/cart/cart.css') }}">
{% endblock %}

{% block body %}

<div class="container"> 
 <div class="row">
 	
 	<div class="col-sm-12"> 
 		
		<div id="dropin-container"></div>

        <div class="text-center">
           <a href="#" id="submit-button" class="btn btn-warning btn-xlg"><i></i>PROCESS PAYMENT</a> 
        </div>
        	
        <div class="text-center">
           <a href="{{ path('place_order') }}" id="review-button" class="btn btn-warning btn-xlg">PLACE ORDER</a>
        </div>
    		
	</div>
	
 </div>
 

 <hr>
     
        <div class="row">
            <div class="col-sm-12">
                <!-- This is the single column, which takes up the size of 12 Bootstrap columns -->
                <table class="table">
                	<thead>
                      <tr>
                      	<th>PRODUCT IMAGE</th>
                		<th>DESCRIPTION</th>
                		<th>SIZE</th>
                		<th>UNIT PRICE</th>
                		<th>QUANTITY</th>
                		<th>SUBTOTAL</th>
                	  </tr>
                	</thead>
                	<tbody>
                		{% for item in items %}
                		<tr>
                			<td><img class="card-img-top" src="{{ asset('upload/img/' ~ item.product.image) }}" width="50" alt="missing image"></a></td>
                			<td>{{ item.product.title }}</td>
                			<td>{{ item.size }}</td>
                			<td>{{ item.unitprice|number_format(2,'.',',') }}</td>
                			<td><input type="number" min="0" max="10" name="item[{{ item.id }}]" value="{{ item.qty }}"/></td>
                			<td>{{ (item.qty * item.unitPrice)|number_format(2,'.',',') }}</td>
                		</tr>
                		{% endfor%}
                	</tbody>
                </table>
            </div>
        </div>
        
        <div class="row">
        	<div class="col-sm-12">
         <!-- cart total well -->
         <div class="text-right">
             <h4>Order Total: {{ total|number_format(2,'.',',') }} </hr>
         </div>	
         </div>
        </div>

 <div class="row">
 	<div class="col-sm-12"> 
 		Data security is of enormous importance to us, and we take vital steps to safeguard your customers’ information.
 		Braintree Level 1 PCI compliance - Our environment meets the highest industry standards and guidelines.
 	</div> 
 </div>
           
</div>
{% block javascripts %}
<script>
    var button = document.querySelector('#submit-button');
    var payment_nonce;
    $("#review-button").hide();
    
    
    braintree.dropin.create({
      authorization: '{{ client_token }}',
      container: '#dropin-container'
    }, function (createErr, instance) {
      button.addEventListener('click', function () {
        instance.requestPaymentMethod(function (err, payload) {
         
         $("#submit-button").hide();
            // Submit payload.nonce to your server
            payment_nonce = payload.nonce;
        	$(document).ready(function()
        	 {
        		$.ajax({
        			type:'POST',
        			url: '{{ path('sell') }}',
        			data: {"par_1":payment_nonce},
        			success: function(reply)
        			{
        				//alert(reply);
        				//console.log("my object is : %o", reply);
        				
        		        $("#review-button").show();
        			}
        		});
        		
        	 }
        	);         
        });
      });
    });
  </script>
{% endblock %}

{% endblock %}
