<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>

    <meta charset="utf-8">
    <title>{% block title %}Welcome to Awet shop !{% endblock %}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <script src="https://js.braintreegateway.com/web/dropin/1.6.1/js/dropin.min.js"></script>
    
    <!-- Bootstrap styles -->
    <link rel="stylesheet" href="{{ asset('node_modules/bootstrap/dist/css/bootstrap.min.css') }}"> 

    <!--foundaton css for home page item display -->
    <link rel="stylesheet" href="{{ asset('css/foundation.css') }}" >
   
    <!-- Glyphicons -->
    <link rel="stylesheet" href="{{ asset('modules/glyphicons/css/glyphicons.css') }}">
    <link rel="stylesheet" href="{{ asset('modules/glyphicons/css/filetypes.css') }}">
    <link rel="stylesheet" href="{{ asset('modules/glyphicons/css/halflings.css') }}">
    <link rel="stylesheet" href="{{ asset('modules/glyphicons/css/social.css') }}">

    <!-- Google Webfonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,600' rel='stylesheet' type='text/css'>

    <!-- Grove Styles (switch for different color schemes, e.g. "styles-cleanblue.css") -->
    <link rel="stylesheet" href="{{ asset('css/styles-blue.css') }}" id="grove-styles">
     
   
    <!-- header style sheet -->
    <link rel="stylesheet" href="{{ asset('css/header/header.css') }}">
    
    <!--[if lt IE 9]>
        <link rel="stylesheet" href="css/ie8.css">        
        <script src="modules/respond/html5-3.6-respond-1.1.0.min.js"></script>
    <![endif]-->
    
    <!-- LayerSlider styles -->
    <link rel="stylesheet" href="modules/layerslider/css/layerslider.css" type="text/css">
    
    <script src="{{ asset('node_modules/jquery/dist/jquery.min.js') }}"></script>
    
    <!--<script src="//code.jquery.com/jquery-1.11.3.min.js"></script> -->
    <!--<script>window.jQuery || document.write('<script src="node_modules/jquery/dist/jquery.min.js"><\/script>')</script>-->
    
    <!-- LayerSlider from Kreatura Media with Transitions -->
    <script src="modules/layerslider/js/greensock.js" type="text/javascript"></script>
    <script src="modules/layerslider/js/layerslider.transitions.js" type="text/javascript"></script>
    <script src="modules/layerslider/js/layerslider.kreaturamedia.jquery.js" type="text/javascript"></script>

    <!-- Grove Layerslider initiation script -->
    <script src="js/grove-slider.js" type="text/javascript"></script> 
    {% block stylesheets %}{% endblock %}  
</head> 

<body>
    <header>
        <nav class="navbar navbar-default grove-navbar" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <a href="#" class="grove-toggle" data-toggle="collapse" data-target=".grove-nav">   <i class="glyphicons show_lines"><i></i></i>  </a>
                    <a href="index.html" class="navbar-brand"><img src="{{ asset('img/logo.png') }}" alt="Grove"></a>
                    <a href="{{ path('show_cart' )}}"><img id="cart-img" src="{{ asset('img/cart/shopping-cart-yellow.jpg') }}" alt='cart items'></a>
                    {# checkout_menu is global twig var - I have decide to follow jesus not truning back no turning back#}
                    {% if checkout_menu.getCartCount() > 0 %}
                    <a href="{{ path('show_cart') }}" ><div id="cart-circle">{{ checkout_menu.getCartCount() }}</div></a>
                    {% endif %}
                </div>
                
                <div class="collapse navbar-collapse grove-nav">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="{{ path('home') }}">Home</a>
                        </li>
                        {% block category_menu %}
    				    {% for link in category_menu.getItems() %}
    		            <li><a href="{{ link.path }}">{{ link.label }}</a></li>
    		            {% endfor %}
    		            {% endblock%}                          
    		            
                         <li></li>   
                      
                         {# customer_menu is global var#}
    				     {% block customer_menu %}
    				     {% for link in customer_menu.getItems() %}
    				     <li><a href="{{ link.path }}"><strong>{{ link.lable }}</strong></a></li>
    				     {% endfor %}
    				     <!--<a href=""><img class="img-circle" width="50" height="30" src="{{ asset('upload/img/user/man2.jpg') }}" alt='cart items'></a> -->
    				     {% endblock %}
                    </ul>        
                </div><!-- /.navbar-collapse -->
                                           
            </div>
            
            <!-- lord with out your help all is nothing --> 
            {% if checkout_menu.getCartCount() > 0 %}
            <div id="container-checkout">
            	<div class="row text-center">
            		<a href="{{ path('show_cart' )}}" type="button" class="btn btn-warning btn-sm">Cart <span class="badge">{{ checkout_menu.getCartCount() }}</span></a>
            	    <a href="{{ path('payment_method') }}" type="button" class="btn btn-danger btn-sm">Checkout</a>
            	</div>
            </div>
            {% endif %}
            
        </nav>
        
        {% block slider %}
        <div class="widewrapper pagetitle">
            <div class="container">
            	{% block pagetitle %}
                    <h1><span class="category">Grove</span>&#47; Starter</h1>
                {% endblock %}
            </div>
        </div>
        {% endblock %} 
    </header>
<!-- Main content starts here -->

<div class="widewrapper">
    <div class="container content">
    	<!-- PER-PAGE-BODY -->
   
        <!-- flash message for the CURD pages and others -->
        {% if app.session.flashBag.has('success') %}
        <div class="alert alert-success">
        	{% for msg in app.session.flashBag.get('success') %}
        	   {{ msg }}
        	{% endfor%}
        </div>
        {% endif %}
    	<div class="row column">
    		{% block body %}{% endblock %}
    	</div>
    </div>
</div>

<!-- Main content ends here, footer below -->

   <footer class="widewrapper footer">
        <div class="container">
            <div class="row footer">
                <div class="col-sm-2">
                    <h4>About awetshop.com</h4>
                    <ul class="grove-list">
                        <li><a href="{{ path('return_policy') }}">About us</a></li>
                        <li><a href="{{ path('faq') }}">Contact us</a></li>
                        <li><a href="#">login/Register</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <div class="indent30">
                    <h4>Customer Service </h4>
                    <ul class="grove-list">
                        <li><a href="{{ path('return_policy') }}">Return Policy</a></li>
                        <li><a href="{{ path('faq') }}">FAQ</a></li>
                        <li><a href="#">Terms And Conditions</a></li>
                        <li><a href="{{ path('privacy_policy') }}">Privacy Policy</a></li>
                        <li><a href="{{ path('terms_and_conditions') }}">Terms And Conditions</a></li>
                    </ul>
                    </div>
                </div>
                
                <div class="col-sm-3">
                    <h4>What we look for ! </h4>
                    <p> To bring possibly all locally produced ethiopian items to the world and by this we hope for
                     customers from each corner of the world to get first hand natural genuine products.  </p>
                </div>

                <div class="col-sm-4">
                    <h4>Connect</h4>
                    <a href="#" class="social facebook"></a>
                    <a href="#" class="social twitter"></a>
                    <a href="#" class="social google_plus"></a>
                    <a href="#" class="social linked_in"></a>
                    
                    <h4>Accepted Payment Methods</h4>
                    <img class="card-img-top" src="{{ asset('img/cart/payment.jpg') }}" width="200" alt="missing image">
                </div>            
            </div>
        </div>

        <div class="container">
            <div class="copyright">
                <p>Open Shop <a href="http://hackerthemes.com">by Awet Tsegazeab</a></p>
            </div>
        </div>
    </footer>
    
    <script src="{{ asset('node_modules/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('modules/modernizr/modernizr-custom.js') }}"></script>
    {% block javascripts %}{% endblock %}
</body>
</html>
