{% extends 'base.html.twig' %}

{% block stylesheets %}
<!-- shopping cart style sheet -->
<!--<link rel="stylesheet" href="{{ asset('css/foundation.css') }}"> -->
<link rel="stylesheet" href="{{ asset('css/cart/cart.css') }}">
<link rel="stylesheet" href="{{ asset('css/cart/product.css') }}">
{% endblock %}

{% block slider %}
 <!-- Note: Layerslider is configured in js/grove-slider.js -->
    <div class="hidden-xs">
        <div id="layerslider" style="width: 100%; height: 405px; margin: 0px auto;">
            <div class="ls-slide" data-ls="transition2d:5;">
                <img class="ls-bg" src="{{ asset('img/slides/bg-five.jpg') }}" alt="Slider Background">

                <img  class="ls-l" src="{{ asset('img/slides/imac.png') }}" alt="iMac" 
                      style="top:15px; left:650px;"
                      data-ls=" durationin : 2000; delayin : 0; offsetxin: right;  offsetxout: right; ">

                <div class="ls-l large-caption" 
                     style="top:150px; left:20px;"
                     data-ls="delayin: 750; offsetxin: 0; offsetxout: 0;">
                    <div><p>Buy before October,</p></div>
                    <div><p>and get 35% discount !</p></div>
                </div>
            </div>

            <div class="ls-slide" data-ls="transition2d:5;">
                <img class="ls-bg" src="{{ asset('img/slides/bg-one.jpg') }}" alt="Slider Background">

                <img  class="ls-l" src="{{ asset('img/slides/fam_imac.png') }}" alt="iMac" 
                      style="top:50px; left:50px;"
                      data-ls=" durationin : 2000; delayin : 0; offsetxin: left;  offsetxout: left;">
                <img  class="ls-l" src="{{ asset('img/slides/fam_macbook.png') }}" alt="MacBook" 
                      style="top:190px; left:250px;"
                      data-ls="durationin : 2000; durationout: 2000; delayin : 300; offsetxin: 300; offsetyin: 300; offsetxout: left;">
                <img  class="ls-l" src="{{ asset('img/slides/fam_ipad.png') }}" alt="iPad" 
                      style="top:210px; left:0px;"
                      data-ls="durationin : 2000; durationout: 2000; delayin : 300; offsetxin: -300; offsetyin: 300; offsetxout: left;">
                <img  class="ls-l" src="{{ asset('img/slides/fam_iphone.png') }}" alt="iPhone" 
                      style="top:265px; left:160px;"
                      data-ls="durationin : 2000; durationout: 2000; delayin : 300; offsetxin: 0; offsetyin: 300; offsetxout: left;">

                <div class="ls-l large-caption" 
                     style="top:150px; left:700px;"
                     data-ls="delayin:750; offsetxin: 0; offsetxout: 0;">
                    <div><p>Place your order </p></div>
                    <div><p>get your shippment next day. </p></div>
                </div>

            </div>   

             <div class="ls-slide" data-ls="transition2d:5;">
                <img class="ls-bg" src="{{ asset('img/slides/bg-three.jpg') }}" alt="Slider Background">

                <img  class="ls-l" src="{{ asset('img/slides/macbook-air.png') }}" alt="MB Air" 
                      style="top:25px; left:50px;"
                      data-ls="durationin: 2500; offsetxin: left; offsetxout: left;">

                <div class="ls-l large-caption" 
                     style="top:120px; left:750px;"
                     data-ls="delayin: 750; offsetxin: 0; offsetxout: 0;">
                    <div><p>Fast Shippment:</p></div>
                    <div><p>Hand made products ,</p></div>
                    <div><p>Secure payment </p></div>
                </div>
            </div>
        </div>
    </div>
    
    <!--LayerSlider end-->

    <!-- Layerslider substitute on x-small devices -->
    <div class="widewrapper pagetitle visible-xs">
        <div class="container">
            <h1>Welcome to awetshop !</h1>        
        </div>
    </div> 

{% endblock %}


{% block body %}
<!--products_bestsellers from ajax-->
<div id="div-best-products"></div>
 
<!--products_onsale-->
<div id="div-products-on-sale"></div>

{% block javascripts %}
<script>
$(document).ready(function()
{
        		//fetch best products
        		$.ajax({
        			type:'GET',
        			url: '{{ path('best_products', {'page': 1}) }}',
        			data: {"par_1":this.value},
        			cache: "false",
                    dataType: "html",
        			success: function(data)
        			{
        		        $('#div-best-products').html(data);  
        			}
        		});
        		
        		//fetch product on sale
        		$.ajax({
        			type:'GET',
        			url: '{{ path('products_on_sale', {'page': 1}) }}',
        			data: {"par_1":this.value},
        			cache: "false",
                    dataType: "html",
        			success: function(data)
        			{
        		        $('#div-products-on-sale').html(data);  
        			}
        		});
        		
});	
</script>

{% endblock %}

{% endblock %}
