<div>
	<div>Content detail</div>
	<div>Handwoven by EThiopian traditional weavers (shemane)</div>
	<div>100% cotton</div>
	<div>Origin: Made in Ethiopia</div> 
	<div>Care: Hand wash or Dry Clean</div>
</div>