{% extends 'base.html.twig' %}
 
 {% block pagetitle %}
  <h1><span class="category">Checkout </span>&#47; Billing And Shipping </h1>
{% endblock %}

{% block stylesheets %}
<!-- Gateway style sheet -->
<link rel="stylesheet" href="{{ asset('css/gateway/gateway.css') }}">
<!-- shopping cart style sheet -->
<link rel="stylesheet" href="{{ asset('css/cart/cart.css') }}">

{% endblock %}

{% block body %}

{{ form_start(form) }}

   <div class="row">
 	    <div class="col-sm-6"> 
 		
		   <div class="row">
                <div class="col-sm-6 form-group">
        	        {{ form_errors(form.firstName) }}
        	        {{ form_row(form.firstName , {
        	        	'label' : 'First name *',
        	        	'attr':{
        	        		'class': 'form-control input-lg',
        	        	}
        	        })}}
                </div> 
                <div class="col-sm-6 form-group">
         	        
        	        {{ form_errors(form.lastName) }}
        	        {{ form_row(form.lastName, {
        	        	'label': 'Last name *',
        	        	
        	        	'attr': {
        	        		'class': 'form-group input-lg',
        	        		
        	        	}
        	        }) }}
                </div>                   
            </div> 
            
            <div class="row">
                <div class="col-sm-12 form-group">
        	        {{ form_errors(form.country) }}
        	        {{ form_row(form.country , {
        	        	'label' : 'Country *',
        	        	'attr':{
        	        		'class': 'custom-select',
        	        		
        	        	}
        	        })}}
                </div>              
            </div> 
            
            <div class="row">
                <div class="col-sm-12 form-group">
        	        {{ form_errors(form.streetAddress) }}
        	        {{ form_row(form.streetAddress , {
        	        	'label' : 'Street Address *',
        	        	'attr':{
        	        		'class': 'form-control input-lg',
        	        	}
        	        })}}
                </div>              
            </div> 

            <div class="row">
                <div class="col-sm-12 form-group">
        	        {{ form_errors(form.apartmentNo) }}
        	        {{ form_row(form.apartmentNo , {
        	        	'attr':{
        	        		'class': 'form-control input-lg',
        	        	}
        	        })}}
                </div>              
            </div> 
            
            <div class="row">
                <div class="col-sm-12 form-group">
        	        {{ form_errors(form.city) }}
        	        {{ form_row(form.city , {
        	        	'label' : 'City *',
        	        	'attr':{
        	        		'class': 'form-control input-lg',
        	        	}
        	        })}}
                </div>              
            </div> 
            
            <div class="row">
                <div class="col-sm-12 form-group">
        	        {{ form_errors(form.state) }}
        	        {{ form_row(form.state , {
        	        	'label' : 'State *',
        	        	'attr':{
        	        		'class': 'form-control input-lg',
        	        	}
        	        })}}
                </div>              
            </div>                 	
           
            <div class="row">
                <div class="col-sm-12 form-group">
        	        {{ form_errors(form.postCode) }}
        	        {{ form_row(form.postCode , {
        	        	'label' : 'Postcode/Zip *',
        	        	'attr':{
        	        		'class': 'form-control input-lg',
        	        	}
        	        })}}
                </div>              
            </div> 
            
		   <div class="row">
                <div class="col-sm-6 form-group">
        	        {{ form_errors(form.phone) }}
        	        {{ form_row(form.phone , {
        	        	'label' : 'phone',
        	        	'attr':{
        	        		'class': 'form-control input-lg',
        	        	}
        	        })}}
                </div> 
                <div class="col-sm-6 form-group">
         	        
        	        {{ form_errors(form.email) }}
        	        {{ form_row(form.email, {
        	        	'label': 'Email Address *',
        	        	'attr': {
        	        		'class': 'form-control input-lg',
        	        	}
        	        }) }}
                </div>                   
            </div>                                                               		
	    </div>
	    <div class="col-sm-6"> 
 		
 		   <div class="row">
                <div class="col-sm-12 form-group">
                	<div style="padding: 35px; background-image: url({{ asset('img/cart/checkout-border.jpg') }}); background-color: #f8f8f8; background-repeat: no-repeat; background-position: left top;">
                	  <div><h3>YOUR ORDER </h3></div>
                	  
                      <table class="table">
                      	<thead>
                            <tr>
                            <th>PRODUCT</th>
                      		<th>DESCRIPTION</th>
                      	  </tr>
                      	</thead>
                      	<tbody>
                      		{% for item in items %}
                      		<tr>
                      			<td><img class="card-img-top" src="{{ asset('upload/img/' ~ item.product.image) }}" width="50" alt="missing image"></a></td>
                      		    <td>{{ item.product.title }} <p>size:{{ item.size }}</p> <p>${{ item.unitprice|number_format(2,'.',',') }} X QTY {{ item.qty }} = USD ${{ (item.qty * item.unitPrice)|number_format(2,'.',',') }} </p></td>
                      		</tr>
                      		{% endfor%}
                      	</tbody>
                      	<thead>
                            <tr>
                            <th style="text-align:right">SUBTOTAL</th>
                      		<th style="text-align:right"><div id="subtotal">USD ${{ total|number_format(2,'.',',') }}</div></th>
                      	  </tr>
                      	</thead>
                      	<tbody>
                      		<tr>
                      			<td>SHIPPING</td>
                      			<td style="text-align:right"><div id="shipping-rate">Free shipping for Ethiopia </div></td>
                      		</tr>
                      	</tbody>
                      	<thead>
                            <tr>
                            <th>TOTAL</th>
                      		<th style="text-align:right"><div id="grand_total">USD ${{ total|number_format(2,'.',',') }}</div></th>
                      	  </tr>
                      	</thead>                      	
                      </table> 
                      
                      <div class="text-center"><img class="card-img-top" src="{{ asset('img/cart/payment.jpg') }}" width="300" alt="missing image"> </div>   
                      
                      <hr>
                      <div class="text-center">
                       <input type="submit" class="btn btn-warning btn-xlg" value="CONTINUE TO PAYMENT" />
                      </div>            	  
                	</div>
                </div>
 		  </div>
		
	    </div>
    </div>      

{{ form_end(form) }}

{% block javascripts %}
<script>
$(document).ready(function()
{
	
	$('#appbundle_billingshipping_country').change(function()
	{
        		var data=0;
        		
        		$.ajax({
        			type:'POST',
        			url: '{{ path('shipping-rate') }}',
        			data: {"par_1":this.value},
        			success: function(data)
        			{
        		        $('#subtotal').html('USD $' + data['subtotal']);
        		        $('#shipping-rate').html('USD $' + data['shipping_rate']);
        		        $('#grand_total').html('USD $' + data['grand_total']);
        			}
        		});
		
	});
	
});	
</script>
{% endblock %}

{% endblock %}
