{% extends 'base.html.twig' %}

{% block body %}
    <h1>Billingshippings list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Country</th>
                <th>Streetaddress</th>
                <th>Apartmentno</th>
                <th>City</th>
                <th>State</th>
                <th>Postcode</th>
                <th>Phone</th>
                <th>Createdat</th>
                <th>Modifiedat</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for billingShipping in billingShippings %}
            <tr>
                <td><a href="{{ path('billingshipping_show', { 'id': billingShipping.id }) }}">{{ billingShipping.id }}</a></td>
                <td>{{ billingShipping.firstName }}</td>
                <td>{{ billingShipping.lastName }}</td>
                <td>{{ billingShipping.country }}</td>
                <td>{{ billingShipping.streetAddress }}</td>
                <td>{{ billingShipping.apartmentNo }}</td>
                <td>{{ billingShipping.city }}</td>
                <td>{{ billingShipping.state }}</td>
                <td>{{ billingShipping.postCode }}</td>
                <td>{{ billingShipping.phone }}</td>
                <td>{% if billingShipping.createdAt %}{{ billingShipping.createdAt|date('H:i:s') }}{% endif %}</td>
                <td>{% if billingShipping.modifiedAt %}{{ billingShipping.modifiedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('billingshipping_show', { 'id': billingShipping.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('billingshipping_edit', { 'id': billingShipping.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('billingshipping_new') }}">Create a new billingShipping</a>
        </li>
    </ul>
{% endblock %}
