{% extends 'base.html.twig' %}

{% block body %}
    <h1>Billingshipping</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ billingShipping.id }}</td>
            </tr>
            <tr>
                <th>Firstname</th>
                <td>{{ billingShipping.firstName }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ billingShipping.lastName }}</td>
            </tr>
            <tr>
                <th>Country</th>
                <td>{{ billingShipping.country }}</td>
            </tr>
            <tr>
                <th>Streetaddress</th>
                <td>{{ billingShipping.streetAddress }}</td>
            </tr>
            <tr>
                <th>Apartmentno</th>
                <td>{{ billingShipping.apartmentNo }}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{ billingShipping.city }}</td>
            </tr>
            <tr>
                <th>State</th>
                <td>{{ billingShipping.state }}</td>
            </tr>
            <tr>
                <th>Postcode</th>
                <td>{{ billingShipping.postCode }}</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>{{ billingShipping.phone }}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{% if billingShipping.createdAt %}{{ billingShipping.createdAt|date('H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Modifiedat</th>
                <td>{% if billingShipping.modifiedAt %}{{ billingShipping.modifiedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('billingshipping_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('billingshipping_edit', { 'id': billingShipping.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
