<!--products_bestsellers-->
{% if best_products %}
<div class="row">
    <div class="col-sm-6 text-right">
		<h4 class="card-title text-right">Best Sellers</h4>
	</div>
	
	<div class="col-sm-6 text-center">
        {% if maxPages > 1 %}
        <ul class="pagination pagination-sm pagination-custom-1">
            {# `«` arrow  #}
            <li {{ thisPage == 1 ? '' }}>
                <a id="top-pager-start-page" href="">«</a>
            </li>
        
            {# Render each page number #}
            {% for i in 1..maxPages %}
            <li {{ thisPage == i ? 'class="active"' }}>
            <a id={{ i }} class="top-pager-pages" href="">{{ i }}</a>
            </li>
            {% endfor %}
        
            {# `»` arrow #}
            <li {{ thisPage == maxPages ? '' }}>
                <a id="top-pager-end-page" href="">»</a>
            </li>
        </ul>
        {% endif %}	
	</div>

</div>	
<hr>

<div class="row small-up-1 medium-up-3 large-up-3 text-center" data-equalizer data-equalize-by-row="true">
	{% for product in best_products %}
	<div class="column product">
		<div class="h-100">
		   <div class="product-container">
               <a href="{{ product.path }}"><img src="{{ asset('upload/img/' ~ product.img) }}" alt="Avatar" class="image"></a>
               <div class="product-overlay-fixed">
                    <div class="product-name">{{ product.name}}</div>
                    <div class="product-price">USD ${{ product.price}}</div>
                    <div class="product-buy-button"><a class="btn btn-info btn-sm" href="{{ product.path }}">Buy Now</a></div>
               </div>
           </div>
		</div>
	</div>
	{% endfor %}
</div>

{% if maxPages > 1 %}
<div class="row text-center">
<ul class="pagination pagination-lg">
    {# `«` arrow  #}
    <li {{ thisPage == 1 ? '' }}>
        <a id="start-page" href="">«</a>
    </li>

    {# Render each page number #}
    {% for i in 1..maxPages %}
    <li {{ thisPage == i ? 'class="active"' }}>
    <a id={{ i }} class="pages" href="">{{ i }}</a>
    </li>
    {% endfor %}

    {# `»` arrow #}
    <li {{ thisPage == maxPages ? '' }}>
        <a id="end-page" href="">»</a>
    </li>
</ul>
</div> 
{% endif %}

{% endif %}

{% block javascripts %}
<script>
$(document).ready(function()
{
         //top pager
         $('#top-pager-start-page').click(function() {		
        		
        		$.ajax({
        			type:'GET',
        			url: '{{ path('best_products', {'page': thisPage-1 < 1 ? 1 : thisPage-1}) }}',
        			data: {"par_1":this.value},
        			cache: "false",
                    dataType: "html",
        			success: function(data)
        			{
        		        $('#div-best-products').html(data);  
        			}
        		});
        		
               return false;
        });

        $(".top-pager-pages").each(function(index) {
            $(this).on("click", function(){
                //var mammalKey = $(this).attr('id'); 
                		var page_no = this.id;
                		var route = "{{ path('best_products', {'page': "k"}) }}"; 
                		$.ajax({
                			type:'GET',
                			url: route.replace("k", page_no),
                			data: {"par_1":this.value},
                			cache: "false",
                            dataType: "html",
                			success: function(data)
                			{
                		        $('#div-best-products').html(data);  
                			}
                		});
                		
                       return false;
            });
        });

         
        $('#top-pager-end-page').click(function() {		
        		
        		$.ajax({
        			type:'GET',
        			url: '{{ path('best_products', {'page': thisPage+1 <= maxPages ? thisPage+1 : thisPage}) }}',
        			data: {"par_1":this.value},
        			cache: "false",
                    dataType: "html",
        			success: function(data)
        			{
        		        $('#div-best-products').html(data);  
        			}
        		});
        		
               return false;
        });
       
        
        //bottom pager
        $('#start-page').click(function() {		
        		
        		$.ajax({
        			type:'GET',
        			url: '{{ path('best_products', {'page': thisPage-1 < 1 ? 1 : thisPage-1}) }}',
        			data: {"par_1":this.value},
        			cache: "false",
                    dataType: "html",
        			success: function(data)
        			{
        		        $('#div-best-products').html(data);  
        			}
        		});
        		
               return false;
        });

        $(".pages").each(function(index) {
            $(this).on("click", function(){
                //var mammalKey = $(this).attr('id'); 
                		var page_no = this.id;
                		var route = "{{ path('best_products', {'page': "k"}) }}"; 
                		$.ajax({
                			type:'GET',
                			url: route.replace("k", page_no),
                			data: {"par_1":this.value},
                			cache: "false",
                            dataType: "html",
                			success: function(data)
                			{
                		        $('#div-best-products').html(data);  
                			}
                		});
                		
                       return false;
            });
        });

         
        $('#end-page').click(function() {		
        		
        		$.ajax({
        			type:'GET',
        			url: '{{ path('best_products', {'page': thisPage+1 <= maxPages ? thisPage+1 : thisPage}) }}',
        			data: {"par_1":this.value},
        			cache: "false",
                    dataType: "html",
        			success: function(data)
        			{
        		        $('#div-best-products').html(data);  
        			}
        		});
        		
               return false;
        });
        

 
});	
</script>

{% endblock %}