{% extends 'base.html.twig' %}

{% block pagetitle %}
  <h1><span class="category">Product </span>&#47; Edit</h1>
{% endblock %}

{% block body %}

{{ form_start(edit_form) }}

       
            <div class="row">
                <div class="col-sm-6 form-group">
        	        {{ form_errors(edit_form.title) }}
        	        {{ form_row(edit_form.title , {
        	        	'label' : 'Title',
        	        	'attr':{
        	        		'class': 'form-control input-lg',
        	        	}
        	        })}}
                </div> 
                <div class="col-sm-6 form-group">
         	        
        	        {{ form_errors(edit_form.price) }}
        	        {{ form_row(edit_form.price, {
        	        	'label': 'Unit Price',
        	        	'attr': {
        	        		'class': 'form-control input-lg',
        	        	}
        	        }) }}
                </div>                   
            </div> 
                 
            <div class="row">
                <div class="col-sm-6 form-group">
                    
        	        {{ form_errors(edit_form.sku) }}
        	        {{ form_row(edit_form.sku , {
        	        	'label' : 'SKU',
        	        	'attr':{
        	        		'class': 'form-control input-lg',
        	        	}
        	        })}}
                </div>
                <div class="col-sm-6 form-group">
        	        
        	        {{ form_errors(edit_form.urlKey) }}
        	        {{ form_row(edit_form.urlKey , {
        	        	'label' : 'urlKey',
        	        	'attr':{
        	        		'class': 'form-control input-lg',
        	        	}
        	        })}}
                </div>                   
            </div>
            <div class="row">
                <div class="col-sm-6 form-group">
                    
        	        {{ form_errors(edit_form.description) }}
        	        {{ form_row(edit_form.description , {
        	        	'label' : 'Description',
        	        	'attr':{
        	        		'class': 'form-control input-lg',
        	        	}
        	        })}}
                </div>
                <div class="col-sm-6 form-group">
        	        
        	        {{ form_errors(edit_form.qty) }}
        	        {{ form_row(edit_form.qty , {
        	        	'label' : 'Quantity',
        	        	'attr':{
        	        		'class': 'form-control input-lg',
        	        	}
        	        })}}
                </div>                   
            </div>   
            <div class="row">
               <div class="col-sm-6 form-group">
        	        
        	        {{ form_errors(edit_form.category) }}
        	        {{ form_row(edit_form.category , {
        	        	'label' : 'Category',
        	        	'attr':{
        	        		'class': 'form-control input-lg',
        	        	}
        	        })}}
               </div>  
               <div class="col-sm-6 form-group">
                  
        	        {{ form_errors(edit_form.image) }}
        	        {{ form_row(edit_form.image , {
        	        	'label' : 'Image',
        	        	'attr':{
        	        		'class': 'form-control input-lg',
        	        	},
        	        })}}
                </div>                                 
            </div>                     
            <div class="row">
               <div class="col-sm-6 form-group">
        	        
        	        {{ form_errors(edit_form.onsale) }}
        	        {{ form_row(edit_form.onsale , {
        	        	'label' : 'onsale',
        	        	'attr':{
        	        		'class': '',
        	        	}
        	        })}}
                </div> 
                
            	<div class="col-sm-6 form-group"> 
                    <img class="img-circle" src="{{ asset('upload/img/' ~ product.image.filename) }}" width="304" height="236" alt="missing image"></a>
            	</div>
            	                           			
            </div>
              
            <div class="row">
            	<div class="col-sm-6 form-group">
            		
            		<div class="btn-group">
            			<input type="submit" value="Edit" class="btn btn-grove-one btn-xlg" />
            	    </div>  
            	               		
            		<div class="btn-group">
                        <a href="{{ path('product_index') }}" class="btn btn-grove-three btn-xlg"><i class="glyphicon"></i>Back to the list</a>            			
            	    </div>
{{ form_end(edit_form) }}             	    
            	</div>
            	
                <div class="col-sm-6 form-group text-right">
                {{ form_start(delete_form) }}           		
                		<div class="btn-group">
                		   <input type="submit" value="Delete" class="btn btn-grove-three btn-xlg pull-right" />
                		</div>
                {{ form_end(delete_form) }}	                	
                </div>
                           	
            </div>	
                        
{% endblock %}