{% extends 'base.html.twig' %}

{% block pagetitle %}
  <h1><span class="category">Product </span>&#47; list</h1>
{% endblock %}

{% block body %}
   
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Price</th>
                <th>Sku</th>
                <th>Urlkey</th>
                <th>Description</th>
                <th>Qty</th>
                <th>Image</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td><a href="{{ path('product_show', { 'id': product.id }) }}">{{ product.id }}</a></td>
                <td>{{ product.title }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.sku }}</td>
                <td>{{ product.urlKey }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.qty }}</td>
                <td>{{ product.image }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('product_show', { 'id': product.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('product_edit_data', { 'id': product.id }) }}">edit</a>
                        </li>
                        <li>
                            <a href="{{ path('product_size_show', { 'id': product.id }) }}">show size</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="row">
    	<div class="col-sm-6 form-group"> 	               		
    		<div class="btn-group">
                <a href="{{ path('product_new') }}" class="btn btn-grove-one btn-xlg"><i class="glyphicon"></i>Create a new product</a>            			
    	    </div>
    	</div>	
    </div>	         
{% endblock %}
