{% extends 'base.html.twig' %}

{% block pagetitle %}
  <h1><span class="category">Product </span>&#47; Add</h1>
{% endblock %}

{% block body %}

{{ form_start(form) }}

       
            <div class="row">
                <div class="col-sm-6 form-group">
        	        {{ form_errors(form.title) }}
        	        {{ form_row(form.title , {
        	        	'label' : 'Title',
        	        	'attr':{
        	        		'class': 'form-control input-lg',
        	        	}
        	        })}}
                </div> 
                <div class="col-sm-6 form-group">
         	        
        	        {{ form_errors(form.price) }}
        	        {{ form_row(form.price, {
        	        	'label': 'Unit Price',
        	        	'attr': {
        	        		'class': 'form-control input-lg',
        	        	}
        	        }) }}
                </div>                   
            </div> 
                 
            <div class="row">
                <div class="col-sm-6 form-group">
                    
        	        {{ form_errors(form.sku) }}
        	        {{ form_row(form.sku , {
        	        	'label' : 'SKU',
        	        	'attr':{
        	        		'class': 'form-control input-lg',
        	        	}
        	        })}}
                </div>
                <div class="col-sm-6 form-group">
        	        
        	        {{ form_errors(form.urlKey) }}
        	        {{ form_row(form.urlKey , {
        	        	'label' : 'urlKey',
        	        	'attr':{
        	        		'class': 'form-control input-lg',
        	        	}
        	        })}}
                </div>                   
            </div>
            <div class="row">
                <div class="col-sm-6 form-group">
                    
        	        {{ form_errors(form.description) }}
        	        {{ form_row(form.description , {
        	        	'label' : 'Description',
        	        	'attr':{
        	        		'class': 'form-control input-lg',
        	        	}
        	        })}}
                </div>
                <div class="col-sm-6 form-group">
        	        
        	        {{ form_errors(form.qty) }}
        	        {{ form_row(form.qty , {
        	        	'label' : 'Quantity',
        	        	'attr':{
        	        		'class': 'form-control input-lg',
        	        	}
        	        })}}
                </div>                   
            </div>   
            <div class="row">
                <div class="col-sm-6 form-group">
                    
        	        {{ form_errors(form.image) }}
        	        {{ form_row(form.image , {
        	        	'label' : 'Image',
        	        	'attr':{
        	        		'class': 'form-control input-lg',
        	        	}
        	        })}}
                </div>
                <div class="col-sm-6 form-group">
        	        
        	        {{ form_errors(form.category) }}
        	        {{ form_row(form.category , {
        	        	'label' : 'Category',
        	        	'attr':{
        	        		'class': 'form-control input-lg',
        	        	}
        	        })}}
                </div>                   
            </div>                     
            <div class="row">
               <div class="col-sm-6 form-group">
        	        
        	        {{ form_errors(form.onsale) }}
        	        {{ form_row(form.onsale , {
        	        	'label' : 'onsale',
        	        	'attr':{
        	        		'class': '',
        	        	}
        	        })}}
                </div>            			
            </div>  
            <div class="row">
            	<div class="col-sm-6 form-group">
            		
            		<div class="btn-group">
            			<input type="submit" value="Create" class="btn btn-grove-one btn-xlg" />
            	    </div>  
            	               		
            		<div class="btn-group">
                        <a href="{{ path('product_index') }}" class="btn btn-grove-three btn-xlg"><i class="glyphicon"></i>Back to the list</a>            			
            	    </div>
            	</div>
            	
            </div>	                 

{{ form_end(form) }}
    
   
{% endblock %}
