{% if products_on_sale %}
<h4 class="card-title text-center">On Sale</h4>
<hr>
<div class="row small-up-1 medium-up-3 large-up-5 text-center" data-equalizer data-equalize-by-row="true">
	{% for product in products_on_sale %}
	<div class="column product">
		<div class="h-100">
		   <div class="product-container">
               <a href="{{ product.path }}"><img src="{{ asset('upload/img/' ~ product.img) }}" alt="Avatar" class="image"></a>
               <div class="product-overlay-fixed-2">
                    <div class="product-name-2">{{ product.name}}</div>
                    <div class="product-price-2">USD ${{ product.price}}</div>
                    <div class="product-buy-button-2"><a class="btn btn-warning btn-xs" href="{{ product.add_to_cart_url }}">Buy Now</a></div>
               </div>
           </div>
		</div>
	</div>
	{% endfor %}
</div>
{% endif %}