{% extends 'base.html.twig' %}

{% block pagetitle %}
  <h1><span class="category">Product </h1>
{% endblock %}

{% block body %}
    
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ product.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ product.title }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ product.price }}</td>
            </tr>
            <tr>
                <th>Sku</th>
                <td>{{ product.sku }}</td>
            </tr>
            <tr>
                <th>Urlkey</th>
                <td>{{ product.urlKey }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ product.description }}</td>
            </tr>
            <tr>
                <th>Qty</th>
                <td>{{ product.qty }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ product.image }}</td>
            </tr>
        </tbody>
    </table>
    <div class="row">
    	<div class="col-sm-6 form-group">
    		
    		<div class="btn-group">
    			<a href="{{ path('product_edit_data', { 'id': product.id }) }}" class="btn btn-grove-one btn-xlg">Edit</a>
    	    </div>  
    	               		
    		<div class="btn-group">
                <a href="{{ path('product_index') }}" class="btn btn-grove-three btn-xlg"><i class="glyphicon"></i>Back to the list</a>            			
    	    </div>
    	</div>
    	
        <div class="col-sm-6 form-group text-right">
          {{ form_start(delete_form) }}           		
               <div class="btn-group">
                  <input type="submit" value="Delete" class="btn btn-grove-three btn-xlg pull-right" />
               </div>
          {{ form_end(delete_form) }}	                	
        </div>   	
    	
    </div>	         
            
{% endblock %}
