{% extends 'base.html.twig' %}

{% block pagetitle %}
  <h1><span class="category">Product Size </h1>
{% endblock %}

{% block body %}
 <div class="container">
 	<h2>{{ product.title}}</h2>
 	<table class="table">
 		<thead>
 			<tr>
 				<th>Size</th>
 				<th>Quantity</th>
 			</tr>
 		</thead>
 		<tbody>
 			{% for size in productSize %}
 			<tr>
 				<td>
 					{{ size.size }}
 				</td>
 				
 				<td>
 					{{ size.qty }}
 				</td>
 				
 			</tr>
 			{% endfor %}
 		</tbody>
 	</table>
 	
  <div class="row">
    	<div class="col-sm-6 form-group"> 	               		
    		<div class="btn-group">
                <a href="{{ path('product_new') }}" class="btn btn-grove-one btn-xlg"><i class="glyphicon"></i>Add New Size</a>            			
    	    </div>
    	</div>	
    </div>	        
    
 </div>
            
{% endblock %}
