{% extends 'base.html.twig' %}

{% block stylesheets %}
<!-- shopping cart style sheet -->
<link rel="stylesheet" href="{{ asset('css/foundation.css') }}">
<link rel="stylesheet" href="{{ asset('css/cart/cart.css') }}">
{% endblock %}

{% block pagetitle %}
  <h1><span class="category">Category </span>&#47; {{ category_title }} </h1>
{% endblock %}

{% block body %}
<!--products_bestsellers-->
{% if products_bestsellers %}
<div class="row small-up-1 medium-up-3 large-up-3 text-center" data-equalizer data-equalize-by-row="true">
	{% for product in products %}
	<div class="column product">
		<div class="h-100">
		   <a href="{{ product.path }}"><img class="card-img-top" src="{{ asset('upload/img/' ~ product.img) }}" alt="missing image"></a>
		   <div class="card-body">
		  	   <h6 class="card-title"><a class="description" href="{{ product.path }}">{{ product.name}}</a></h6>
		       <h5>${{ product.price }}</h5>
		   </div>
		   <div class="card-footer">
		  	   <div><a class="small button" href="{{ product.path }}">Add to Cart</a></div>
               <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
           </div>
		</div>
	</div>
	{% endfor %}
</div>
{% endif %}    
    
{% endblock %}
