{% extends 'base.html.twig' %}

{% block body %}
  <div class="row">
  	<h3>Customer Service</h3>
  	<hr>
  </div>
  <div class="row">
  	<p>Please use 857.333.4648 for our customer service </p>
  </div>
{% endblock %}
