{% extends 'base.html.twig' %}

{% block body %}
  <div class="row">
  	<h3>Orders and Returns</h3>
  	<hr>
  </div>
  <div class="row">
  	<p> we have 3 days order return policy , please keep you sales invoice and you are reqested upon sales item returns </p>
  </div>
{% endblock %}
