{% extends 'base.html.twig' %}

{% block body %}
  <div class="row">
  	<h3>Privacy Policy</h3>
  	<hr>
  </div>
  <div class="row">
  	<p>All your customer data are protected using the latest encryption technogy  </p>
  </div>
{% endblock %}
