#cart-img {
	height: 51px;
	padding-bottom: 10px;
}

#cart-circle {
    border-radius: 18px;
    width: 20px;
    height: 20px;
    position: relative;
    background: sienna;
    font-size: 12px;
    font-family: Arial;
    font-weight: bold;
    z-index: 5;
    color: #fff;
    cursor: pointer;
    padding-left: 6px;
    top: -38px;
    left: 155px;
    padding-left: 7px;
}

#container-checkout {
	padding-top: 5px;
	height: 40px;
	background: #F5F5F5;
}
