Dear {{ name }} ,
<br>
<br>
Thank you for ordering from awetSHOP. We just start processing your order and we will ship your product early possible.
<br>
<h3>your order confirmation number is {{ order }}.</h3>
<br>

        <div class="row">
            <div class="col-sm-12">
                <!-- This is the single column, which takes up the size of 12 Bootstrap columns -->
                <table class="table">
                	<thead>
                      <tr>
                      	<th>PRODUCT</th>
                		<th>DESCRIPTION</th>
                	  </tr>
                	</thead>
                	<tbody>
                		{% for item in items %}
                		<tr>
                			<td><img class="card-img-top" src="{{ baseurl~'/upload/img/'~item.product.image }}" width="50" alt="missing image"></a></td>
                			<td>{{ item.product.title }} <p>size:{{ item.size }}</p> <p>${{ item.unitprice|number_format(2,'.',',') }} X QTY {{ item.qty }} = USD ${{ (item.qty * item.unitPrice)|number_format(2,'.',',') }} </p></td>
                		</tr>
                		{% endfor%}
                	</tbody>
                </table>
            </div>
        </div>
        
        <div class="row">
         <!-- cart total well -->
         <div class="col-sm-12">
         <div class="text-right">
             <h4>Order Total: USD {{ total|number_format(2,'.',',') }} $ </hr>
         </div>
         </div>	
        </div>

<br>
<div>shipping address </div>
<div>{{ name }} </div>
<div>{{ addrLine1 }} </div>
<div>{{ city }} {{ zipCode }}</div>
<div>{{ country }} </div>
<div>{{ phoneNumber}} </div>
<div>{{ email}} </div>
<br>
<br>
If you have any questions or comments for us , please contact us using customercare@awetshop.com .
<br>
<br>
<div>Thank you again for your order !</div>
<br>
<div>True peace to you  !</div>
<div>Awet Tsegazeab</div>
<div>awetshop</div>
<div>www.awetshop.com</div>
<div>addis ababa , Ethiopia</div>



