.btn {
	margin-right : 7px;
}
.side-shopping-cart { 
	box-shadow: 5px 5px 5px #888888;"
	border-bottom-color: #D3D3D3;
}

.lft-mrgn {
	margin-left: 15px;
}

.payment-error {
	color: red;	
}

.card-title {
	margin-top: 10px;
}

.description {
	color: #707070;
    font-family: 'Open Sans', sans-serif;
}

.order-type {
  color: #09000a;
  font-size: 18px;
  padding-bottom: 2px;
  padding-right: 3px;
  line-height: 24px;  
}

.order-duration {
  color: #ea9307;
  font-size: 20px;
  padding-bottom: 2px;
  padding-right: 3px;
  line-height: 24px;  
}

.order-shippment {
  color: #0582e0;
  font-size: 20px;
  padding-bottom: 2px;
  padding-right: 3px;
  line-height: 24px;  
  margin-bottom: 20px;
}

.checkout-img {
	background-color: #f8f8f8;
	background-image: url({{ asset('img/cart/shopping-cart.png') }});
	background-image: url({{ asset('img/logo.png') }});
	color: #0000FF;
    font-family: 'Open Sans', sans-serif;
}

.custom-select {
    color: #505050;
    font-family: 'Open Sans', sans-serif;
}

.pagination-custom-1 {
	margin: 0px;
	padding-top: 3px;
}

.product-rrp {
	line-height: 1;
	text-decoration: line-through;
	font-size: .9em;
	color: lighten($color, 50%);
}
.product-price {
	line-height: 1;
	font-size: 2em;
	font-weight: 700;
}

.cart-product-title {
  color: black;
  font-size: 33px;
  padding-top: 3px;
  padding-bottom: 2px;
  padding-right: 3px;
  line-height: 40px;
}

.cart-product-description {
  color: gray;
  font-size: 17px;
  padding-top: 12px;
  padding-bottom: 2px;
  padding-right: 3px;
  line-height: 1px;
}

.cart-product-price {
  color: red;
  line-height: 1;
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 2px;
  padding-top: 20px;
  padding-left: 10%;
}

.cart-product-detail-std-1{
  color: gray;
  font-size: 16px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-right: 3px;
  line-height: 24px;
  margin: 5px;
}

.cart-qty-text {
  color: gray;
  font-size: 16px;
  padding-top: 12px;
  padding-bottom: 2px;
  padding-right: 3px;
  line-height: 24px;
  margin: 5px;
}


#add-error{
	color: red;
	font-size: 18px;
}
