.product-container {
  position: relative;
  width: 100%;
   margin-bottom: 10px;
}

.product-image {
  display: block;
  width: 100%;
  height: auto;
}

.product-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #ffffff;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
  opacity: 0.9;
}

.product-overlay-fixed {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #ffffff;
  overflow: hidden;
  width: 100%;
  height: 25%;
  opacity: 0.9;
}

.product-overlay-fixed-2 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #ffffff;
  overflow: hidden;
  width: 100%;
  height: 35%;
  opacity: 0.9;
}
.product-container:hover .product-overlay {
  height: 25%;
 
}

.product-name {
  color: black;
  font-size: 16px;
  padding-left: 5px;
  padding-top: 10px;
  padding-bottom: 5px;
  padding-right: 5px;
  line-height: 17px;
}

.product-price {
  color: black;
  line-height: 1;
  font-size: 1em;
  font-weight: 700;
  padding-left: 5px;
  padding-bottom: 5px
}

.product-buy-button {
  padding: 0px;
}

.product-name-2 {
  color: black;
  font-size: 12px;
  padding-left: 3px;
  padding-top: 3px;
  padding-bottom: 2px;
  padding-right: 3px;
  line-height: 14px;
}

.product-price-2 {
  color: black;
  line-height: 1;
  font-size: 12px;
  font-weight: 700;
  padding-left: 3px;
  padding-bottom: 2px
}

.product-buy-button-2 {
  padding: 1px;
}


