{% extends 'base.html.twig' %}

{% block pagetitle %}
  <h1><span class="category">FAQ</h1>
{% endblock %}

{% block body %}

<div class="panel-group">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">
				<a data-toggle="collapse" href="#collapsel"> >> what is delivery time</a>
			</h4>
		</div>
		
		<div id="collapsel" class="panel-collapse collapse">
		    <div class="panel-body">
		    	Shipping time is usually between 3 to 7(except of remote places and custom delays) working days after that the order is sent by us.
		    </div>	
		
		</div>
	</div>
	
	
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">
				<a data-toggle="collapse" href="#collapsel-2"> >> What is a remote location?</a>
			</h4>
		</div>
		
		<div id="collapsel-2" class="panel-collapse collapse">
		    <div class="panel-body">
		    	A remote area is defined as a place that is not close to any larger city or any other point, where local depots of courier companies are located. This makes the area difficult to reach. These locations are usually islands, ski resorts, suburbs, small towns, places that are neither highly populated, nor easy to access

**Shipping to remote areas is more complex than standard shipping, both for economical and logistics reasons. Generally, booking shipping services to remote areas is possible. As long as you receive mail to your address, carriers are most probably able to deliver a shipment there.

		    </div>	
		
		</div>
	</div>	
	
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">
				<a data-toggle="collapse" href="#collapsel-3"> >> How much is the price for shipping</a>
			</h4>
		</div>
		
		<div id="collapsel-3" class="panel-collapse collapse">
		    <div class="panel-body">
		    International shipping-We have a flat rate of 25USD  to all over the world(Regardless of the amount of products that you want to order).Domestic shipping- free.
		    </div>	
		
		</div>
	</div>	

	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">
				<a data-toggle="collapse" href="#collapsel-4"> >> which carrier are you using ?</a>
			</h4>
		</div>
		
		<div id="collapsel-4" class="panel-collapse collapse">
		    <div class="panel-body">
             In order to secure your order and deliver it as soon as possible we have chosen EMS, FedEx and DHL as our carriers.
		    </div>	
		
		</div>
	</div>	
	
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">
				<a data-toggle="collapse" href="#collapsel-5"> >> who is responsible for the duites and taxes</a>
			</h4>
		</div>
		
		<div id="collapsel-5" class="panel-collapse collapse">
		    <div class="panel-body">
International Shipping items may be subject to customs processing depending on the item’s declared value.

As the buyer, you should be aware of possible:

– Delays from customs inspection.

– Import duties and taxes which are on your responsibility.

– Brokerage fees payable at the point of delivery.

For more information contact your country customs office.
		    </div>	
		
		</div>
	</div>		

	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">
				<a data-toggle="collapse" href="#collapsel-6"> >> to which countries you ship ?</a>
			</h4>
		</div>
		
		<div id="collapsel-6" class="panel-collapse collapse">
		    <div class="panel-body">
We ship our products to more than 150 countries.
		    </div>	
		
		</div>
	</div>		

	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">
				<a data-toggle="collapse" href="#collapsel-7"> >> Final sales</a>
			</h4>
		</div>
		
		<div id="collapsel-7" class="panel-collapse collapse">
		    <div class="panel-body">
Final sale is not eligible for refund or exchange.
Please note that final sale items cannot be returned for a refund or an exchange. All final sale items are marked as such on their product pages and no returns or refunds can be issued for this merchandise.
		    </div>	
		
		</div>
	</div>		
		
</div>


{% endblock %}
