{% extends 'base.html.twig' %}

{% block pagetitle %}
  <h1><span class="category">Return Policy</h1>
{% endblock %}

{% block body %}
This Privacy Policy governs the manner in which Kemis Designs collects, uses, maintains and discloses information collected from users of this website. We take your privacy seriously and will take all measures to protect your personal information. Any personal information received will only be used to fill your order. We will not sell or redistribute your information to anyone.

Personal identification information
We may collect personal identification information from Users in a variety of ways, including, but not limited to, when Users visit our site, register on the site and in connection with other activities, services, features or resources we make available on our Site. Users may be asked for, as appropriate, name, email address, mailing address, phone number. Users may, however, visit our Site anonymously.


Web browser cookies
Our site uses “cookies” to enhance user experience. User’s web browser places cookies on their hard drive for record-keeping purposes and sometimes to track information about them. User may choose to set their web browser to refuse cookies, or to alert you when cookies are being sent. If they do so, note that some parts of the site may not function properly.



{% endblock %}