{% extends 'base.html.twig' %}

{% block pagetitle %}
  <h1><span class="category">Return Policy</h1>
{% endblock %}

{% block body %}
<p>
We at awetshop.com aims to get your shoes delivered to you in the best condition possible, and we sincerely hope you will be more than satisfied with your purchase. 
In the event that you wish to return a pair of shoes, we offer a 7day return policy starting from the day your shoes are delivered to you. 
</p> 
<p>We also encourage you to check your order upon delivery, and if any items are incorrect, 
damaged or faulty you should notify us immediately by calling 08180000312 or sending an email to support@heels.com.ng with your telephone and order number so that we can arrange for free return shipping. 
</p> 

<p>
The return shipping will be free of charge if the return is due to incorrect, damaged or faulty goods. 
If the return is due to any other circumstance other than stated, we kindly ask you to pay for the cost of shipping the shoes back to us.
</p>

<p> 
Customers would be charged full Shipping Costs for swaps, exchanges and returns. 
</p>

<p>
Returns should be addressed to 4A Adewole Kuku Street, Off Fola Osibo, Lekki Phase 1, Lagos.
</p>

<p> 
Please return the item(s) in the same condition as when received and in the original packaging along with proof of purchase 
(order number, delivery note and/or invoice). Once the items have been returned and verified, 
you will receive a refund in less than 10 working days. 
</p>

<p>
Please note, any shoe that has been scuffed, stained, or dinged on the surface, inside or bottom of the shoe will not be accepted or exchanged. 
Always use socks provided to test shoes. 
</p>

<p>
If you have paid for the purchase in cash, we will refund the full cost by transferring the entire amount to your account. 
If the item was paid for by credit card, the funds will be returned only directly to the card that was used for the purchase. 
If you should have further questions concerning our return policy, please email us at support@heels.com.ng or call us on 08180000312.
</p>


{% endblock %}