{% extends 'base.html.twig' %}

{% block pagetitle %}
  <h1><span class="category">TERMS AND CONDITIONS</h1>
{% endblock %}

{% block body %}
TERMS AND CONDITIONS

<p>
INTRODUCTION
</p>

<p>
Welcome to the heels.com.ng website (the "Site"). These terms & conditions ("Terms and Conditions") apply to the Site, and all of its divisions, subsidiaries, and affiliate operated Internet sites that reference these Terms and Conditions.
</p>

<p>
By accessing the Site, you confirm your understanding of and agree to abide by the Terms and Conditions. You shall not use this website if you do not agree with such Terms and Conditions.
</p>

<p>
The Site reserves the right, to change, modify, add, or remove portions of these Terms and Conditions of use at any time. Changes will be effective immediately when posted on the Site. No other notice will be provided. Therefore, please check these Terms and Conditions of use regularly for updates. Your continued use of the Site following the posting of changes to these Terms and Conditions of use constitutes your acceptance of those changes.USE OF THE SITEYou are either at least 18 years of age or are under the supervision of a parent or legal guardian while accessing the Site.
We grant you a non-transferable and revocable license to use the Site, under the Terms and Conditions described, for the purpose of browsing and purchasing all items sold on the Site. Commercial use or use on behalf of any third party is prohibited, except as explicitly permitted by us in advance. Any breach of these Terms and Conditions shall result in the immediate revocation of the license granted in this paragraph without notice to you.
</p>

<p>
Certain services and related features that may be made available on the Site may require registration or subscription. Should you choose to register or subscribe for any such services or related features, you agree to provide accurate and current information about yourself, and to promptly update such information if changes do occur. Each and every user of the Site is responsible for keeping passwords and other account identifiers safe and secure.
</p>

<p>
The account owner is completely responsible for all activities that occur under such password or account. Furthermore, you must notify us of any unauthorized use of your password or account so we can take appropriate action if needed. The Site shall not be responsible or liable, directly or indirectly, in any way for any loss or damage of any kind incurred as a result of, or in connection with, your failure to comply with this section.
</p>

<p>
During the registration process you agree to receive promotional emails from the Site. However, you can subsequently opt out of receiving such promotional emails.USER SUBMISSIONAnything that you submit to the Site and provide to us, including but not limited to, questions, reviews, comments, and suggestions (collectively, "Submissions") will become our sole and exclusive property and shall not be returned to you.
</p>

<p>
In addition to the rights applicable to any Submission, when you post comments or reviews to the Site, you grant us the right to use the name that you submit, comment or other content.
You shall not use a false email address, pretend to be someone other than yourself or otherwise mislead us or third parties as to the origin of any Submissions. We mayremove or edit any Submissions.
</p>


<h4>ORDER ACCEPTANCE AND PRICING</h4>
<p>
Please note that there are cases when an order cannot be processed. In such case, the Site reserves the right to refuse or cancel any order for any reason at any given time. You may be asked to provide additional verifications or information, including but not limited to phone number and address, before we accept the order.
</p>

<p>
We are determined to provide the most accurate pricing information on the Site to our users. However, errors may still occur such as cases when the price of an item is not displayed correctly on the website. We reserve the right to refuse or cancel any order. In the event that an item is mispriced, we may either contact you for instructions or cancel your order and notify you of such cancellation.
We shall have the right to refuse or cancel any such orders whether or not the order has been confirmed and your credit card charged.
</p>

<p>
<h4>TRADEMARKS AND COPYRIGHTS</hr>
All intellectual property rights in the Site, information content on the Site and all the website design, including, but not limited to, text, graphics, software, photos, video, music, sound, and their selection and arrangement, and all software compilations, underlying source code and software shall remain our property.
</p>

<p>
The entire contents of the Site also are protected by copyright as a collective work under Nigeria copyright laws and international conventions. All rights are reserved.
</p>

<p>
<h4>APPLICABLE LAW AND JURISDICTION</h4>
These Terms and Conditions shall be interpreted and governed by the laws in force in the Federal Republic of Nigeria. Subject to the Arbitration section below, each party hereby agrees to submit to the jurisdiction of the courts of Nigeria and to waive any objections based upon venue.
</p>

<p>
<h4>ARBITRATION</h4>
Any controversy, claim or dispute arising out of or relating to these Terms and Conditions will be referred to and finally settled by private and confidential binding arbitration before a single arbitrator held in Nigeria in English and governed by Nigeria law pursuant to the Arbitration and Conciliation Act, Cap A19, Laws of the Federation of Nigeria 2004as amended, replaced or re-enacted from time to time.
The arbitrator shall be a person who is legally trained and who has experience in the information technology field in Nigeria and is independent of either party. Notwithstanding the foregoing, the Site reserves the right to pursue the protection of intellectual property rights and confidential information through injunctive or other equitable relief through the courts.

<p>
<h4>TERMINATION</h4>
In addition to any other legal or equitable remedies, we may, without prior notice to you, immediately terminate the Terms and Conditions or revoke any or all of your rights granted under the Terms and Conditions. Upon any termination of this Agreement, you shall immediately cease all access to and use of the Site and we shall, in addition to any other legal or equitable remedies, immediately revoke all password(s) and account identification issued to you and deny your access to and use of this Site in whole or in part.
</p>

<p>
Any termination of this agreement shall not affect the respective rights and obligations (including without limitation, payment obligations) of the parties arising before the date of termination. You furthermore agree that the Site shall not be liable to you or to any other person as a result of any such suspension or termination.
</p>

<p>
If you are dissatisfied with the Site or with any terms, conditions, rules, policies, guidelines, or practices in operating the Site, your sole and exclusive remedy is to discontinue using the Site.
</p>

{% endblock %}