{% extends 'base.html.twig' %}

{% block body %}
    <h1>Customers list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Email</th>
                <th>Password</th>
                <th>Phone_number</th>
                <th>Country</th>
                <th>State</th>
                <th>Zip_code</th>
                <th>Street</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for customer in customers %}
            <tr>
                <td><a href="{{ path('customer_show', { 'id': customer.id }) }}">{{ customer.id }}</a></td>
                <td>{{ customer.firstname }}</td>
                <td>{{ customer.lastname }}</td>
                <td>{{ customer.email }}</td>
                <td>{{ customer.password }}</td>
                <td>{{ customer.phonenumber }}</td>
                <td>{{ customer.country }}</td>
                <td>{{ customer.state }}</td>
                <td>{{ customer.zipcode }}</td>
                <td>{{ customer.street }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('customer_show', { 'id': customer.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('customer_edit', { 'id': customer.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('customer_new') }}">Create a new customer</a>
        </li>
    </ul>
{% endblock %}
