{% extends 'base.html.twig' %}

{% block body %}
    <h1>Register</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Register" />
    {{ form_end(form) }}

{% endblock %}