{% extends 'base.html.twig' %}
{% block pagetitle %}
  <h1><span class="category">Please login to continue shopping !</h1>
{% endblock %}
{% block body %}

<div class="container login">
    
    <p>
        login or register before shopping. It is very easy steps search for our latest selected products and place your order !
    </p>

    <div class="login-icons">
        <a class="social facebook"></a>
        <a class="social twitter"></a>
        <a class="social google_plus"></a>
    </div>

    <div class="row">
        <div class="span6 offset3 login-hr">
            <span>or</span>
        </div>

    </div>

    {% if error %}
      <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
 
    <form action="{{ path('login') }}" method="post">  
    <div class="row">
    	
           <div class="col-sm-4 form-group">
       	         <label for="email">Email Address</label>
                 <input class="form-control input-lg" type="email" id="username" name="_username" value="{{ last_username }}" placeholder="Email">
            </div>
               
            <div class="col-sm-4 form-group">
       	         <label for="password">Password</label>
                 <input class="form-control input-lg" type="password" id="password"  name="_password" placeholder="">                	        
            </div>  
    </div>
    <div class="row">
    	   <div class="col-sm-8 form-group">
    	   	 <button class="btn btn-grove-one btn-lg btn-bold" type="submit">login</button>
    	   </div>
    </div>
    
    <div class="clearfix"></div>
    </form>
    
</div>

{% endblock%}
