{# app/Resources/views/registration/register.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
<div class="widewrapper">
<div class="container login">
    <h2>Create your Account</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique facere nihil maiores voluptatem dolorem. 
    </p>

    <div class="login-icons">
        <a class="social facebook"></a>
        <a class="social twitter"></a>
        <a class="social google_plus"></a>
    </div>

    <div class="row">
        <div class="span6 offset3 login-hr">
            <span>or</span>
        </div>

    </div>

{{ form_start(form) }}

    <div class="row">
           <div class="col-sm-4 form-group">
       	        {{ form_errors(form.first_name) }}
        	        {{ form_row(form.first_name , {
        	        	'label' : 'First Name',
        	        	'attr':{
        	        		'class': 'form-control input-lg',
        	        	}
        	        })}}
            </div>   
            <div class="col-sm-4 form-group">
       	        {{ form_errors(form.last_name) }}
        	        {{ form_row(form.last_name , {
        	        	'label' : 'Last Name',
        	        	'attr':{
        	        		'class': 'form-control input-lg',
        	        	}
        	        })}}
            </div>    	 	
    </div>
    
    <div class="row">
            <div class="col-sm-4 form-group">
       	        {{ form_errors(form.email) }}
        	        {{ form_row(form.email , {
        	        	'label' : 'Email Address',
        	        	'attr':{
        	        		'class': 'form-control input-lg',
        	        	}
        	        })}}
            </div>
            <div class="col-sm-4 form-group">
       	        {{ form_errors(form.plainPassword.first) }}
        	        {{ form_row(form.plainPassword.first , {
        	        	'label' : 'Password',
        	        	'attr':{
        	        		'class': 'form-control input-lg',
        	        	}
        	        })}}
            </div>
            <div class="col-sm-4 form-group">
       	        {{ form_errors(form.plainPassword.second) }}
        	        {{ form_row(form.plainPassword.second , {
        	        	'label' : 'Confirm Password',
        	        	'attr':{
        	        		'class': 'form-control input-lg',
        	        	}
        	       })}} 	
            </div>
            <button class="btn btn-grove-one btn-lg btn-bold" type="submit">Sign up</button>
            <div class="clearfix"></div>    	
    </div>
 
    
</div>
{{ form_end(form) }}
{% endblock %}